@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Inscripción</h1>
    <p class="lead">Inscripción de mujeres embarazadas al servicio de Anidar.</p>
    <p><a href="https://www.mills.com.ar/Anidar/Personas/AddOrEdit" class="btn btn-primary btn-lg" style="background-color:#000">Inscribir &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Inscripciones realizadas</h2>
        <p>
            Ver todas las inscripciones realizadas al sistema.
        </p>
        <p><a class="btn btn-default" href="https://www.mills.com.ar/Anidar/Personas/Inscripciones">Ver inscripciones &raquo;</a></p>
    </div>    
</div>